<%- include("header") -%>
<link rel="stylesheet" href="/cards.css">
<div class="cards-list">
  
<div class="card 1" onclick="location.href='http://www.github.com/Ziyangll';"> 
  <div class="card_image">
  	<img alt="github" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"/>
  </div>
  <div class="card_title title-white">
	<p></p>
  </div>
</div>

<div class="card 2" onclick="location.href='https://www.linkedin.com/in/ziyangg/';" >
  <div class="card_image">
    <img alt="linkedin" src="https://image.flaticon.com/icons/svg/174/174857.svg"/>
  </div>
  <div class="card_title title-white">
    <p></p>
  </div>
</div>

</div>
<%- include("footer") -%>
