<%- include("header") -%>

<link rel="stylesheet" href="/cards.css">

<div class="cards-list">
  
<div class="card 1" onclick="location.href='../todo';">
  <div class="card_image"> <img src="https://i.imgur.com/iU7hfKL.png" /> </div>
  <div class="card_title title-white">
    <p>Todo List</p>
  </div>
</div>

  
<div class="card 2" onclick="location.href='http://www.github.com/Ziyangll';">
  <div class="card_image">
    <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
  </div>
  <div class="card_title title-black">
    <p></p>
  </div>
</div>

</div>

<%- include("footer") -%>  
